---
---
@import 'main';

body {
  background-color: #1e1e1e;
  background-image:
    radial-gradient(circle at 100% 150%, #1e1e1e 24%, #2a3632 24%, #2a3632 28%, #1e1e1e 28%, #1e1e1e 36%, #2a3632 36%, #2a3632 40%, transparent 40%, transparent),
    radial-gradient(circle at 0 150%, #1e1e1e 24%, #2a3632 24%, #2a3632 28%, #1e1e1e 28%, #1e1e1e 36%, #2a3632 36%, #2a3632 40%, transparent 40%, transparent),
    radial-gradient(circle at 50% 100%, #2a3632 10%, #1e1e1e 10%, #1e1e1e 23%, #2a3632 23%, #2a3632 30%, #1e1e1e 30%, #1e1e1e 43%, #2a3632 43%, #2a3632 50%, #1e1e1e 50%, #1e1e1e 63%, #2a3632 63%, #2a3632 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, #2a3632 5%, #1e1e1e 5%, #1e1e1e 15%, #2a3632 15%, #2a3632 20%, #1e1e1e 20%, #1e1e1e 29%, #2a3632 29%, #2a3632 34%, #1e1e1e 34%, #1e1e1e 44%, #2a3632 44%, #2a3632 49%, transparent 49%, transparent),
    radial-gradient(circle at 0 50%, #2a3632 5%, #1e1e1e 5%, #1e1e1e 15%, #2a3632 15%, #2a3632 20%, #1e1e1e 20%, #1e1e1e 29%, #2a3632 29%, #2a3632 34%, #1e1e1e 34%, #1e1e1e 44%, #2a3632 44%, #2a3632 49%, transparent 49%, transparent);
  background-size: 100px 50px;
  background-attachment: fixed;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px);
  pointer-events: none;
}

#sidebar {
  background-color: #1e1e1e !important;
}
